@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

.soal1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 100px;
}